{% include template_name+'/header.html'%} 


  <div class="container" style="margin-top: 10px;">
    <div class="row hide-on-small-only">
      <div class="col s6 m8 l8">
        <a href="/"><img src="/static/{{template_name}}/img/toursanak_logo.png" class="responsive-img tourLogo">  </a>
      </div>
      {%for post in posts%}
      <div class="col s6 m4 l4">
        <div class="backTour">
          <h6 class="discovery">{{post.category.name}}</h6>
        </div>
      </div>
      {%endfor%}
    </div>

    <div class="row">
      {%for post in posts%}
      <div class="col s12 m6 l6">
        <a href="/tours/{{post.slug}}" class="hoverImg">
          <img src="/static/images/images/{{post.feature_image}}" class="responsive-img imgBlog" style="height: 48vh;">
          <center><h5 class="titleBlog">{{post.title}}</h5></center>
        </a>
      </div>
      {%endfor%}

      
    </div>


  </div> <!--end container-->

{% include template_name+'/footer.html'%} 